<a href="https://colab.research.google.com/github/jdescartes24/Predicting-sales/blob/main/Copy_of_Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


sales_predictions=  '/content/sales_predictions.csv'

sales=pd.read_csv(sales_predictions)

sales.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [ ]:
sales = sales.rename(columns={'Item_Identifier':'item identifier',
                              'Item_Weight': 'item weight',
                        'Outlet_Size': 'outlet size'})

sales.head()

  item identifier  item weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [ ]:
sales.shape

(8523, 12)

In [ ]:
sales.dtypes

item identifier               object
item weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
outlet size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [ ]:
sales.duplicated().any()

False

In [ ]:
sales.isnull().sum()

item identifier                 0
item weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
outlet size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
sales.drop(columns = ['outlet size'], inplace = True)


# Outlet Size was droped because I believed it played not roll in sales prediction

In [ ]:
	sales['item weight'].fillna(value = sales['item weight'].mean(), inplace = True)

# decided to keep it weight and use this function to fill in the gaps because it may be important when it come to shiping cost.

In [ ]:
sales.isnull().sum() 
#proof of not more empty values

item identifier              0
item weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [ ]:
sales.replace(['LF'],['Low Fat'], inplace=True)

sales.replace(['low fat'],['Low Fat'], inplace=True)

sales.replace(['reg'],['Regular'], inplace=True)

In [ ]:
sales['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [ ]:
min=sales.groupby(['item weight', 'Item_Visibility','Item_MRP','Item_Outlet_Sales']).min()

max=sales.groupby(['item weight', 'Item_Visibility','Item_MRP','Item_Outlet_Sales']).max()

mean=sales.groupby(['item weight', 'Item_Visiybilit','Item_MRP','Item_Outlet_Sales']).mean()

mean

                                                        Outlet_Establishment_Year
item weight Item_Visibility Item_MRP Item_Outlet_Sales
4.555       0.034329        110.1544 1230.3984                               1987
            0.034351        112.7544 1789.6704                               2004
            0.034357        112.6544 2684.5056                               1997
            0.034411        111.3544 1342.2528                               1999
4.590       0.000000        111.1860 1245.0460                               2002
...                                                                           ...
21.350      0.068822        258.3278 7028.8506                               1997
            0.069103        259.9278 6768.5228                               2009
            0.078061        96.0094  380.8376                                2009
            0.115195        258.3278 520.6556                                1998
            0.130127        96.2094  190.4188                                1998

[8523 rows x 1 columns]

In [ ]:
min_item_weight= sales['item weight'].min()

max_item_weight= sales['item weight'].max()

mean_item_weight= sales['item weight'].mean()

print(f'The mean = {min_item_weight} the max = {max_item_weight} and the mean = {mean_item_weight}')

The mean = 4.555 the max = 21.35 and the mean = 12.857645184136409

In [ ]:
min_Visibility= sales['Item_Visibility'].min()

max_Visibility= sales['Item_Visibility'].max()

mean_Visibility= sales['Item_Visibility'].mean()

print(f'The mean = {min_Visibility} the max = {max_Visibility} and the mean = {mean_Visibility}')

The mean = 0.0 the max = 0.328390948 and the mean = 0.06613202877895127

In [ ]:
min_MRP= sales['Item_MRP'].min()

max_MRP= sales['Item_MRP'].max()

mean_MRP= sales['Item_MRP'].mean()

print(f'The mean = {min_MRP} the max = {max_MRP} and the mean = {mean_MRP}')

The mean = 31.29 the max = 266.8884 and the mean = 140.9927819781768

In [ ]:
min_sales= sales['Item_Outlet_Sales'].min()

max_sales= sales['Item_Outlet_Sales'].max()
mean_sales= sales['Item_Outlet_Sales'].mean()

print(f'The mean = {min_sales} the max = {max_sales} and the mean = {mean_sales}')

The mean = 33.29 the max = 13086.9648 and the mean = 2181.2889135750365